@font-face {
	font-family: roboto;
	src: url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: robotoItalica;
	src: url('../../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
