.container{
    width: 100%;
    height: 80px;
    background: var(--color-blue);
    margin-top: auto;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.parrafo{
    font-size: 20px;
    font-family: robotoItalica,sans-serif;
    color: black;
}

.link{
    text-decoration: none;
    color: black;
    cursor: pointer;
}



.link:hover{
    color: rgb(255, 0, 0);
}


/*RESPONSIVE PAGE*/

@media (max-width: 1920px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
    .container{
        height: 100px;
    }
    .parrafo{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

@media (max-width: 400px) {
}

@media (max-width: 360px) {
}
