.container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--color-lightBlue);
}

.content {
	width: 400px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0px;
	background: var(--color-blue);
	padding: 20px;
	border-radius: 10px;
}

.title {
	text-align: center;
	font-size: 50px;
	color: black;
	font-family: robotoItalica, sans-serif;
	margin-top: 2%;
}

.form {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.contentFields {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.contentFields input {
	width: 90%;
	font-size: 15px;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

.contentFields span {
	color: white;
	font-size: 15px;
}

.boxButton {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.button {
	height: 40px;
	background: linear-gradient(
		180deg,
		var(--color-pink),
		var(--color-lightPink)
	);
	border-radius: 6px;
	color: black;
	font-size: 20px;
	font-family: robotoLightItalica, sans-serif;
	cursor: pointer;

	padding-left: 20px;
	padding-right: 20px;
}
.button:hover {
	background: linear-gradient(
		180deg,
		var(--color-lightPink),
		var(--color-pink)
	);
	transform: scale(1.1);
	transition: all 300ms;
}


/*RESPONSIVE PAGE*/

@media (max-width: 1920px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

@media (max-width: 400px) {
}

@media (max-width: 360px) {
}
